<CardView class="card" elevation="10" shadowRadius="30" margin="10" ripple="true" radius="30"
          [nsRouterLink]="'/stories/' + story.id + '/preview'" pageTransition="flip">
    <GridLayout ios:borderRadius="10">
        <WebImage  class="image" src="{{ story.image }}" stretch="aspectFill"></WebImage>
        <GridLayout class="content">
            <GridLayout orientation="horizontal" verticalAlignment="top">
                <Label class="category" text="{{ story.category }}" horizontalAlignment="left"></Label>
                <Label class="action-icon" text="&#xf02e;" horizontalAlignment="right"></Label>
            </GridLayout>
            <GridLayout class="body" verticalAlignment="bottom">
                <StackLayout>
                    <Label textWrap="true" class="title" text="{{ story.title }}"></Label>
                    <Label textWrap="true" class="description" text="{{ story.description }}"></Label>
                    <Label textWrap="true" class="estimate" text="{{ story.estimate }} min reading"></Label>
                </StackLayout>
            </GridLayout>
        </GridLayout>
    </GridLayout>
</CardView>