.card {
    background: #333333;
    font-size: 14px;
    color: #FFFFFF;
    height: 500;
}

.wrapper {
}

.image {
}

.category {
    line-height: 18px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10;
}

.content {
    padding: 10;
    height: 500;
}

.body {
    padding: 10;
}

.title {
    font-size: 28px;
    margin-bottom: 16;
    font-weight: 500;
}

.description {
    font-size: 19px;
    margin-bottom: 16;
}

.estimate {
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0.8;
}