ListView {
    separator-color: transparent;
    background-color: transparent;
}

Label {
    width: auto;
}

.header .action-icon {
    margin-right: 20;
}

.continue-button {
    color: rgba(255, 255, 255, 0.8);
    font-size: 19 sp;
    line-height: 25 sp;
    margin-bottom: 10;
    margin-top: 10;
}

.footer {
    padding: 20;
}

.footer Button {
    text-transform: none;
    color: #FDFF8F;
    border-color: #FDFF8F;
    border-width: 1;
    background-color: transparent;
    font-size: 17 sp;
    width: 100%;
    padding: 20 39;
    border-radius: 32;
    margin-bottom: 24;
}

.end-line {
    background-color: rgba(255, 255, 255, 0.5);
    height: 1;
    width: 100%;
    z-index: 1;
}

.end {
    z-index: 2;
    vertical-align: center;
    padding: 0 30;
    margin-top: 20;
}

.footer Label {
    color: rgba(255, 255, 255, 0.8);
    font-size: 19 sp;
    margin-bottom: 24;
}

.message-content {
    font-size: 19 sp;
}

.author {
    margin-top: 6;
    font-size: 16 sp;
    line-height: 21 sp;
}

.left .author {
    color: rgba(255, 250, 225, 0.85);
}

.right .author {
    color: rgba(255, 255, 255, 0.85);
    horizontal-align: right;
}

.left .message-content {
    background-color: #FFFAE1;
    color: #000000;
    border-radius: 24 24 24 0;
}

.right .message-content {
    background-color: #4D4D4D;
    color: #FFFFFF;
    border-radius: 24 24 0 24;
}

.left {
    horizontal-align: left;
    padding-right: 62;
    padding-left: 24;
}

.right {
    horizontal-align: right;
    padding-right: 24;
    padding-left: 62;
}

.right .message-content.media-message {
    background-color: #333333;
}

.left .message-content.media-message {
    background-color: #333333;
}

.media-message {
    width: 289;
    height: 258;
    border-width: 1;
    border-color: rgba(255, 255, 255, 0.51);
}

.text-message {
    padding: 10 16;
}

.last-message {
    padding-bottom: 220;
}

.info-message {
    horizontal-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    font-size: 19 sp;
}

.massage-wrapper {
    padding-top: 14;
    orientation: vertical;
}

.media-button {
    width: 60;
    height: 60;
    border-radius: 50%;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    text-transform: none;
    font-size: 20;
}

.unsubscribed {
    background-image: linear-gradient(60deg, #111e37, #3e1c19, #0f1d3e);
}