<GridLayout>
    <ActivityIndicator [busy]="isBusy" class="activity-indicator"></ActivityIndicator>
    <GridLayout rows="auto auto *" columns="*">
        <StackLayout class="header" row="0" orientation="horizontal">
            <Label class="action-icon" text="&#xf060;" (tap)="goBack($event)"></Label>
            <Label *ngIf="story" text="{{story.title}}" verticalAlignment="center"></Label>
        </StackLayout>
        <Progress android:height="10px" row="1" col="0" [value]="progressValue" maxValue="100">
        </Progress>
        <GridLayout row="2" col="0" columns="*" rows="*" backgroundColor="transparent">
            <WebImage *ngIf="story" class="image" src="{{ bg }}" stretch="aspectFill"></WebImage>
            <GridLayout backgroundColor="black" opacity="0.6">
            </GridLayout>
            <GridLayout columns="*" rows="* auto">
                <ListView row="0" col="0" id="messagesList" #messagesList [itemTemplateSelector]="templateSelector"
                          [items]="listItems" (itemLoading)="onItemLoading($event)" (tap)="onTap($event)">
                    <ng-template nsTemplateKey="message" let-message="item">
                        <GridLayout>
                            <StackLayout [class]="messageClass(message)">
                                <Label [text]='message.message' class="text-message message-content" textWrap="true"></Label>
                                <Label [text]='message.person' class="author"></Label>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>

                    <ng-template nsTemplateKey="image" let-message="item">
                        <GridLayout>
                            <StackLayout [class]="messageClass(message)">
                                <Image [visibility]="user.paid ? 'visible' : 'collapse'" loadMode="async" [src]="message.contentURL" class="media-message message-content" (tap)="previewMediaMessage(message)" stretch="aspectFill"></Image>
                                <GridLayout *ngIf="!user.paid" loadMode="async" [src]="message.contentURL" class="media-message message-content unsubscribed" (tap)="previewMediaMessage(message)">
                                    <Label text="Press to see photo" verticalAlignment="center" horizontalAlignment="center"></Label>
                                </GridLayout>
                                <Label [text]='message.person' class="author"></Label>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                    <ng-template nsTemplateKey="video" let-message="item">
                        <GridLayout>
                            <StackLayout [class]="messageClass(message)">
                                <GridLayout>
                                    <Button (tap)="previewMediaMessage(message)" verticalAlignment="center" horizontalAlignment="center" class="fa media-button" text="&#xf04b;"></Button>
                                    <Image loadMode="async" (tap)="previewMediaMessage(message)" [src]="message.previewURL" class="media-message message-content" stretch="aspectFill"></Image>
                                </GridLayout>
                                <Label [text]='message.person' class="author"></Label>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                    <ng-template nsTemplateKey="info" let-message="item">
                        <GridLayout>
                            <StackLayout [class]="messageClass(message)">
                                <Label class="info-message" horizontalAlignment="center" text="{{message.text}}"></Label>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                    <ng-template nsTemplateKey="editMessage" let-message="item">
                        <GridLayout>
                            <StackLayout [class]="messageClass(message)">
                                <Label [text]='message.currentMessage'
                                       class="text-message message-content" textWrap="true"></Label>
                                <Label [text]='message.person' class="author"></Label>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                    <ng-template nsTemplateKey="footer" let-item="item">
                        <StackLayout class="footer" orientation="vertical">
                            <GridLayout rows="*" columns="*, auto, *">
                                <StackLayout col="0" class="end-line" verticalAlignment="center"></StackLayout>
                                <Label col="1" verticalAlignment="center" class="end" text="The end"></Label>
                                <StackLayout col="2" class="end-line" verticalAlignment="center"></StackLayout>
                            </GridLayout>
                            <Button horizontalAlignment="center" text="Rate story"></Button>
                            <Label horizontalAlignment="center" text="Go to the next story!"></Label>
                            <story-card [story]="nextStory()"></story-card>
                        </StackLayout>
                    </ng-template>
                </ListView>
                <Label *ngIf="story && !storyFinished()" horizontalAlignment="center" row="1" col="0"
                       class="continue-button" text="Tap to continue" (tap)="onTap($event)"></Label>
            </GridLayout>
        </GridLayout>
    </GridLayout>
</GridLayout>

