.background {
    opacity: 0.2;
}

.content {
    padding: 10;
}

.promo-title {
    text-align: center;
    font-size: 34 sp;
    color: #FFFFFF;
    margin-bottom: 28;
}

.promo-info {
    margin-bottom: 20;
}

.promo-text {
    font-size: 19 sp;
    margin-bottom: 15;
    color: rgba(255, 255, 255, 0.8);
}

.button {
    height: 60;
}

.label-button {
    margin-top: 10;
    margin-bottom: 10;
    height: 75;
}

.button-label {
    vertical-align: top;
    horizontal-align: left;
    background: #FF2B3A;
    color: #FFFFFF;
    font-size: 14;
    padding: 2 8;
    margin: 0;
    border-radius: 3;
    margin-left: 0;
    rotate: -20;
    margin-top: 15;
}

.button-wrapper {
    padding: 15 10 0;
}

.promo-button {
    width: 100%;
    height: 60;
    font-size: 17;
    border-radius: 5;
    font-weight: 500;
    vertical-align: center;
    horizontal-align: center;
    padding: 0;
}

.ads {
    background: linear-gradient(203.52deg, #00FFFF, #20BDFF, #7459FF);
    border-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
}

.free-days {
    background: linear-gradient(10.4deg, #3FFFD1, #5EF8FF);
    color: #000000;
}

.pay {
    color: #3FFFD1;
    border-color: #3FFFD1;
    border-width: 1;
    background-color: transparent;
    text-transform: none;
}

.pay-info {
    margin-top: 10;
    font-size: 14;
    color: rgba(255, 255, 255, 0.6);
}