<GridLayout backgroundColor="#000000">
    <WebImage class="background" [src]="params.context.background" stretch="aspectFill"></WebImage>
    <GridLayout class="content">
        <StackLayout verticalAlignment="center" orientation="vertical">
            <StackLayout class="promo-info" orientation="vertical">
                <Label class="promo-title" horizontalAlignment="center" text="Do you want to read without any ads?"
                       textWrap="true"></Label>
                <Label class="promo-text" horizontalAlignment="center" text="- All stories available"></Label>
                <Label class="promo-text" horizontalAlignment="center" text="- Unlock all video"></Label>
                <Label class="promo-text" horizontalAlignment="center" text="- Unlock all photos"></Label>
                <Label class="promo-text" horizontalAlignment="center" text="- Unlock all audio content"></Label>
            </StackLayout>

            <StackLayout class="button-wrapper">
                <Button class="button ads promo-button" text="WATCH ADS & UNLOCK"></Button>
            </StackLayout>
            <GridLayout class="label-button">
                <StackLayout class="button-wrapper">
                    <Button class="pay promo-button" text="1 month for $9.99"></Button>
                </StackLayout>
                <Label class="button-label" text="Best Price"></Label>
            </GridLayout>
            <StackLayout class="button-wrapper">
                <Button class="free-days promo-button" text="3 DAYS FREE"></Button>
            </StackLayout>
            <Label horizontalAlignment="center" class="pay-info" text="then $9,99/month"></Label>
        </StackLayout>
    </GridLayout>
    <GridLayout class="header" verticalAlignment="top">
        <Label class="action-icon" text="&#xf00d;" (tap)="close($event)" horizontalAlignment="left"></Label>
    </GridLayout>
</GridLayout>