<GridLayout backgroundColor="#000000">
    <WebImage *ngIf="message.type === 'image'" [src]="message.contentURL" stretch="aspectFill"></WebImage>
    <VideoPlayer
            *ngIf="message.type === 'video'"
            #video
            src="https://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4"
            controls="false"
            loop="true"
            autoplay="true"></VideoPlayer>
    <GridLayout class="header" verticalAlignment="top">
        <Label class="action-icon" text="&#xf00d;" (tap)="close($event)" horizontalAlignment="left"></Label>
    </GridLayout>
</GridLayout>