<GridLayout *ngIf="story" class="preview">
    <WebImage id="image" src="{{ story.image }}" stretch="aspectFill">
    </WebImage>
    <GridLayout backgroundColor="black" opacity="0.5">
    </GridLayout>
    <GridLayout rows="auto, *">
        <GridLayout class="header" row="0" orientation="horizontal">
            <Label class="action-icon" text="&#xf060;" horizontalAlignment="left" (tap)="goBack($event)"></Label>
            <Label class="action-icon" text="&#xf02e;" horizontalAlignment="right"></Label>
        </GridLayout>
        <StackLayout class="bottom-content" row="1" verticalAlignment="bottom">
            <Label textWrap="true" class="views" text="90K VIEWS"></Label>
            <Label textWrap="true" class="title" text="{{ story.title }}"></Label>
            <Label textWrap="true" class="description" text="{{ story.description }}"></Label>
            <Progress *ngIf="progress" value="{{progress}}" maxValue="100">
            </Progress>
            <ScrollView orientation="horizontal">
                <StackLayout class="episodes-list" orientation="horizontal">
                    <Label class="open-episode-button" *ngFor="let episode of story.episodes" text="{{episode.title}}" [class.active]="activeEpisode === episode.id" [nsRouterLink]="'/stories/' + story.id + '/episodes/' + episode.id"></Label>
                </StackLayout>
            </ScrollView>
            <Button class="read-button" text="Start Reading" [nsRouterLink]="'/stories/' + story.id + '/episodes/default'"></Button>
        </StackLayout>
    </GridLayout>
</GridLayout>