.preview {
    color: #FFFFFF;
}

.bottom-content {
    padding: 20;
}

.read-button {
    background: linear-gradient(to bottom, #FFD2A8, #EFFF8D);
    border-radius: 4;
    color: #000000;
    height: 52;
}

Progress {
    color: #EFFF8D;
    background-color: rgba(255, 255, 255, 0.71);
    margin-top: 24;
    margin-bottom: 24;
}

.description {
}

.author {
    margin-bottom: 5px;
    opacity: 0.8;
}

.views {
    margin-bottom: 16;
}

.episodes-list {
    margin-bottom: 24;
}

.open-episode-button {
    text-transform: none;
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
    border-width: 1;
    background-color: transparent;
    border-radius: 30;
    margin-right: 10;
    line-height: 18 sp;
    font-size: 14 sp;
    padding: 8 12;
}

.open-episode-button.active {
    color: #FDFF8F;
    border-color: #FDFF8F;
}