.categories-content {
    padding: 10;
    color: #FFF;
    background-color: #000;
}

.card {
    background: #333333;
    height: 230;
    width: 180;
    padding: 10;
}

.card.top {
    width: 360;
}

.title {
    font-size: 22 sp;
    font-weight: 500;
}

.estimate {
    text-transform: uppercase;
}

.category-title {
    text-transform: uppercase;
    padding: 10 10;
    font-size: 16 sp;
}

.card-content {
    padding: 20 15;
}

.marker {
    padding: 5 10;
    border-radius: 0 0 10 0;
}

.new {
    background: #FB5D68;
}

.top {
    background: #2bb7ff;
}