<GridLayout class="categories-content">
    <ActivityIndicator #activityIndicator [busy]="isBusy" class="activity-indicator"></ActivityIndicator>
    <ScrollView orientation="vertical">
        <StackLayout orientation="vertical">
            <StackLayout *ngFor="let category of categories" orientation="vertical" class="category">
                <Label class="category-title" text="{{ category.title }}"></Label>
                <ScrollView orientation="horizontal">
                    <StackLayout orientation="horizontal">
                        <CardView *ngFor="let story of category.stories" class="card" elevation="10" shadowRadius="30"
                                  margin="10" ripple="true" radius="30"
                                  [nsRouterLink]="'/stories/' + story.id + '/preview'"
                                  pageTransition="flip">
                            <GridLayout ios:borderRadius="8">
                                <WebImage class="image" src="{{ story.image }}" stretch="aspectFill"></WebImage>
                                <GridLayout class="card-content">
                                    <GridLayout orientation="horizontal" verticalAlignment="top">
                                        <Label class="estimate" text="{{ story.estimate }} min" horizontalAlignment="right"></Label>
                                    </GridLayout>
                                    <GridLayout class="body" verticalAlignment="bottom">
                                        <Label class="title" text="{{ story.title }}" textWrap="true"></Label>
                                    </GridLayout>
                                </GridLayout>
                                <GridLayout rows="auto" columns="auto">
                                    <Label *ngIf="story.new" class="marker new" text="New"></Label>
                                    <Label *ngIf="story.top" class="marker top" text="Top"></Label>
                                </GridLayout>
                            </GridLayout>
                        </CardView>
                    </StackLayout>
                </ScrollView>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>


