.fa {
    font-family: "FontAwesome";
    font-size: 20;
}

.page {
    background-color: #000000;
}

ActionBar {
    background-color: #000000;
    color: #FFFFFF;
}

Progress {
    color: #EFFF8D;
    background-color: rgba(255, 255, 255, 0.71);
}

Page {
    background-color: #000000;
}

.activity-indicator {
    z-index: 1;
    color: #2CBCC4;
    width: 50;
    height: 50;
}

.page-content .page-placeholder {
    color: #D7D7D7;
    font-size: 20;
    vertical-align: center;
    horizontal-align: center;
}

.page-content .page-icon {
    font-size: 72;
    vertical-align: top;
    horizontal-align: center;
    color: #D7D7D7;
    margin-top: 20%;
}

.action-icon {
    font-family: "FontAwesome";
    font-size: 20;
    color: #FFFFFF;
    padding: 10;
    background-color: transparent;
}

.header {
    padding: 10;
    color: rgba(255, 255, 255, 0.8);
    font-size: 17 sp;
    background-color: transparent;
}

.sidedrawer {
    margin-bottom: -100;
}

.sidedrawer.sidedrawer-left {
    background-color: #000000;
    padding: 10;
}