ListView {
    separator-color: transparent;
    background: #000000;
}

GridLayout {
    background: #000000;
}

.item {
    padding: 15 15 0;
}

.bottom-navigation {
    background-color: rgba(248, 248, 248, 0.8);
}