<GridLayout rows="*, auto">
    <ActivityIndicator #activityIndicator [busy]="isBusy" class="activity-indicator"></ActivityIndicator>
    <Categories *ngIf="selectedTab === 1" ></Categories>
    <ListView *ngIf="selectedTab === 0" #list style="height:100%" [items]="stories" class="list-group" row="0">
        <ng-template let-story="item">
            <StackLayout class="item">
                <story-card [story]="story"></story-card>
            </StackLayout>
        </ng-template>
    </ListView>
    <BottomNavigation #navigation
                      class="bottom-navigation"
                      row="1"
                      id="bottomNavigation"
                      activeColor="#2CBCC4"
                      titleVisibility="never"
                      inactiveColor="rgba(0, 0, 0, 0.3)"
                      (tabPressed)="onBottomNavigationTabPressed($event)"
                      (tabSelected)="onBottomNavigationTabSelected($event)">
        <BottomNavigationTab title="Home" icon="ic_home"></BottomNavigationTab>
        <BottomNavigationTab title="Categories" icon="ic_view_list"></BottomNavigationTab>
        <BottomNavigationTab title="Settings" icon="ic_menu" selectable="false"></BottomNavigationTab>
    </BottomNavigation>
</GridLayout>